div {
    display: flex;
    margin-top: 12px;
}

div > span{
    cursor: pointer;
    opacity: .2;
    width: 1.2rem;
    background-repeat: no-repeat;
}

div span.prev-page--icon{
    background-image: url(../icons/angle-left.svg) !important;
}

div span.next-page--icon{
    background-image: url(../icons/angle-right.svg) !important;
}

div span.prev-page--icon:hover,
div span.next-page--icon:hover {
    opacity: 1;
}

div p span.pageSelection{
    padding-left: .8rem;
    padding-right: .8rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    line-height: 20px;
    font-size: 18px;
    margin-left: 6px;
    margin-right: 6px;
    font-weight: normal;
    cursor: pointer;
    color: #c2c2c2;
}

div p span.pageSelection.active{
    padding-left: .8rem;
    padding-right: .8rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    line-height: 20px;
    cursor: pointer;
    font-weight: 400;
    color: white;
    border-radius: 4px;
    background-color: #6270FC;
}

div select{
    margin-left: 1rem;
    width: 80px;
    height: 45px;
    font-size: 15px;
    color: #999999;
}

.recordCounts {
    font-size: 15px;
    color: #999999;
    line-height: 22px;
    padding: 10px 0px 10px 24px;
    font-weight: normal;
}