.searchdiv {
    position: relative;
}
input[type="search"]{
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 14px;
    /* height: 32px; */
    padding-right: 30px;
}

input[type="search"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #999;
    font-size: 12px;
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #999;
    font-size: 12px;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #999;
    font-size: 12px;
  }

img {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -8px;
}