<table class="dtable table">
    <thead class="dtable--heading">
    <tr class="table-header">
        <th [attr.colspan]="cols.length" style="padding-bottom: 25px;">
            <app-table-topbar (export)="handleExport($event)">{{title}}</app-table-topbar>
        </th>
    </tr>
    <tr>
        <th class="dtable--column_heading" *ngFor="let col of cols; let i=index">
            <app-col-head 
                [col_num]="i+1" 
                [cols]="column_checks_headings" 
                (sortEvent)="sortByColumn($event)" 
                (colCheckEvent)="handleColCheck($event)">{{col.header}}
            </app-col-head>
        </th>   
    </tr>
    <tr class="dtable--heading">
        <th *ngFor="let col of cols; let i=index">
            <app-col-search 
                [col_num]="i+1" 
                [col_field]="col.field" 
                (searchEvent)="handlePerColumnSearch($event)">
            </app-col-search>
        </th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let airline of airlines">
            <td *ngFor="let col of cols">
                <ng-container *ngIf="isArray(airline[col.field]); else other">
                    <app-super-user
                        [names]="airline[col.field]"
                        [abrv]="getAbrv()"
                        [name]="getName()"
                        [count]="getCount()"
                    ></app-super-user>
                </ng-container>
                <ng-template #other>
                    <span [ngClass]="{'decorateContent': col.decorate}">{{airline[col.field]}}</span>
                </ng-template>
            </td>
        </tr>
    </tbody>
    <tfoot class="table-footer">
        <tr>
            <th class="table--pagination" [attr.colspan]="cols.length">
                <app-paginator
                    [ngClass]="'flex-end'" 
                    [rowsPerPage]="rows" 
                    [totalRecords]="airlines_bkp.length"
                    (pageSizeChange)="changePageSize($event)" 
                    (pageChange)="selectPage($event)">
                </app-paginator>
            </th>
        </tr>
    </tfoot>
</table>