<table class="dtable">
    <thead class="dtable--heading">
    <tr>
        <th [attr.colspan]="cols.length">
            <app-table-topbar (export)="handleExport($event)">{{title}}</app-table-topbar>
        </th>
    </tr>
    <tr>
        <th class="dtable--column_heading" *ngFor="let col of cols; let i=index">
            <app-col-head [cols]="cols" [index]="i+1" (sortEvent)="sortByColumn($event)">{{col.header}}</app-col-head>
        </th>   
    </tr>
    <tr class="dtable--heading">
        <th *ngFor="let col of cols; let i=index">
            <app-col-search [index]="i+1"></app-col-search>
        </th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let airline of airlines">
            <td *ngFor="let col of cols">
                <ng-container *ngIf="isArray(airline[col.field]); else other">
                    <app-super-user
                        [names]="airline[col.field]"
                        [abrv]="getAbrv()"
                        [name]="getName()"
                        [count]="getCount()"
                    ></app-super-user>
                </ng-container>
                <ng-template #other>
                    {{airline[col.field]}}
                </ng-template>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th [attr.colspan]="cols.length" class="table--pagination">
                <app-paginator (pageChange)="selectPage($event)" [ngClass]="'flex-end'" [rowsPerPage]="1" [totalRecords]="airlines_bkp.length"></app-paginator>
            </th>
        </tr>
    </tfoot>
</table>