ul li{
    list-style: none;
    background-color: #fff;
}

.show{
    display: block !important;
}

div{
    display: flex;
    justify-content: space-between;
}

div span.dtable--column_heading_text{
    display:inline-block;
    width: 128px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div i.dtable--column_sort_icon {
    cursor: pointer;
    opacity: .2;
    width: 1rem;
    background-image: url(../icons/arrow-down-up.svg);
    background-repeat: no-repeat;
}


.sort_asc {
    cursor: pointer;
    opacity: .2;
    width: 1rem;
    background-image: url(../icons/arrow-up.svg);
    background-repeat: no-repeat;
}

.sort_desc {
    cursor: pointer;
    opacity: .2;
    width: 1rem;
    background-image: url(../icons/arrow-down.svg) !important;
    background-repeat: no-repeat;
}

div i.dtable--column_sort_icon:hover,
.sort_asc:hover,
.sort_desc:hover {
    opacity: 1;
}

span.dtable--column_heading_menu{
    cursor: pointer;
}

span.dtable--column_heading_menu::after{
    border: none !important;
}

span.dtable--column_heading_menu:after {
    content: '\2807';
    font-size: 1rem;
}

a{
    text-decoration: none;
}

div.div--column-menu,
div.div--column-menu > ul > li{
    position: relative;
}

div.div--column-menu > ul,
div.div--column-menu > ul > li > ul{
    display: none;
    position: absolute;
    z-index: 60;
    background: #fff;
}

ul.column-menu--main{
    top: 1rem;
}

li.main-menu-item,
li.main-menu-item::after,
li.main-menu-item::before {
    cursor: pointer;
}

li.main-menu-item::after,
li.main-menu-item::before {
    opacity: .7;
    content: "";
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: 75% 40%;
}

li.main-menu-item.angle_on-before::before{
    background-image: url(../icons/angle-left.svg) !important;
}

li.main-menu-item.angle_on-after::after{
    background-image: url(../icons/angle-right.svg) !important;
}
